/*CSS reset settings here*/
*{
    margin: 0px;
    padding: 0px;
}
#wrapper{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
}
#header{
    min-height: 150px;
    background-color: green;
    width: 900px;
    margin: 15px 15px;
    vertical-align: middle;
    display: inline-block;
    padding-right: 19px;
}
#navigation{
    min-height: 300px;
    width: 200px;
    display: inline-block;
    background-color: blue;
    vertical-align: top;
    margin: 0 15px;
}
#main_content{
    min-height: 400px;
    width: 700px;
    background-color: red;
    display: inline-block;
    margin-bottom: 25px;
}
.subcontents{
    min-height: 200px;
    width: 210px;
    display: inline-block;
    background-color: yellow;
    margin: 15px 0 15px 10px;
}
#advertisement{
    min-height: 120px;
    width: 660px;
    display: inline-block;
    background-color: purple;
    margin-left: 10px;
}  